body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}
h1 {
  color: #333;
  text-align: center;
}
form {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
#searchForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
}

button {
  padding: 10px 15px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #555;
}

#serieInput {
  flex-grow: 1;
}

#yearSelect {
  width: auto;
}
.info-icon {
  cursor: pointer;
  color: #007bff;
}
.popup {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}
table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  margin-bottom: 20px;
}
th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}
th {
  background-color: #f2f2f2;
  font-weight: bold;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
tr:hover {
  background-color: #f5f5f5;
}
#chartContainer {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}
.collapsible-section {
  background-color: #fff;
  margin-top: 20px;
  border-radius: 5px;
  overflow: hidden;
}
.collapsible-section h2 {
  background-color: #f2f2f2;
  padding: 10px 15px;
  margin: 0;
  cursor: pointer;
}
.collapsible-section h2::after {
  content: '\25BC';
  float: right;
}
.collapsible-section h2.active::after {
  content: '\25B2';
}
.section-content {
  padding: 20px;
  display: none;
}
.section-content.active {
  display: block;
}
.map-container {
  height: 600px;
  width: 100%;
}
#statsContainer {
  justify-content: space-around;
  margin-bottom: 20px;
}
.stat-box {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 45%;
}
.stat-box h3 {
  margin-top: 0;
  color: #333;
}
.stat-box p {
  font-size: 1.5em;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 0;
}
#chartContainer {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}
.chart-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.chart-item {
  width: 48%; /* Ajusta este valor según necesites */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
  position: relative; /* Añadido para posicionamiento del canvas */
}
.full-width {
  width: 100%;
}
/* Estilos para los canvas */
.chart-item canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 300px; /* Ajusta según necesites */
}
/* Responsive design */
@media (max-width: 768px) {
  .chart-row {
      flex-direction: column;
  }
.chart-item {
      width: 100%;
      margin-bottom: 20px;
  }
}
.section-content {
  padding: 20px;
}
.chart-container {
  width: 100%;
  height: 300px; /* Ajusta esta altura según tus necesidades */
  margin-bottom: 20px;
}
/* Responsive design */
@media (max-width: 768px) {
  .chart-container, .map-container {
      height: 250px; /* Altura reducida para pantallas más pequeñas */
  }
}
/* Ocultar secciones inicialmente */
.section {
    display: none;
}
/* Estilo para el mensaje de carga */
#loadingMessage {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

/* Estilo para el modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

footer {
  text-align: center;
  color: #666;
  font-size: 0.9em;
  margin-top: 20px;
  padding: 10px 0;
  background-color: #f4f4f4;
}

footer a {
  color: #666;
  text-decoration: none;
}

footer a:hover {
  color: #333;
}

#description {
  background-color: #f0f9ff; /* Fondo azul claro */
  color: #333; /* Texto en color oscuro */
  padding: 15px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  border: 1px solid #cfe8ff; /* Borde ligeramente más oscuro */
  font-family: 'Arial', sans-serif; /* Fuente */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
  max-width: 600px; /* Ancho máximo de la cajita */
  margin: 20px auto; /* Centrado y margen superior/inferior */
  text-align: center; /* Texto centrado */
}
